@charset "UTF-8";
.blanco {
  color: white; }

.negro {
  color: black; }

/*main grids index*/
.gridIndex {
  display: grid;
  grid-template-areas: "tituloPrincipal tituloPrincipal" "primerParrafo primerParrafo" "imgIzq parrafoDerecha" "segundoParrafo segundoParrafo" "parrafoIzq imgDer";
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto auto auto; }

.tituloPrincipal {
  grid-area: tituloPrincipal; }

.primerParrafo {
  grid-area: primerParrafo; }

.imgIzq {
  grid-area: imgIzq; }

.parrafoDerecha {
  grid-area: parrafoDerecha; }

.segundoParrafo {
  grid-area: segundoParrafo; }

.parrafoIzq {
  grid-area: parrafoIzq; }

.imgDer {
  grid-area: imgDer; }

/*servicios main grids */
.gridServicios {
  display: grid;
  grid-template-areas: "tituloOfrecemos tituloOfrecemos" "parrafoServicios parrafoServicios" "imgServiciosIz listaServiciosDer";
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto; }

.tituloOfrecemos {
  grid-area: tituloOfrecemos; }

.parrafoServicios {
  grid-area: parrafoServicios; }

.imgServiciosIz {
  grid-area: imgServiciosIz; }

.listaServiciosDer {
  grid-area: listaServiciosDer; }

/*grid interno en servicios*/
.gridInternoServicio {
  display: grid;
  grid-template-areas: "primerServicio segundoServicio tercerServicio cuartoServicio";
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto; }

.primerServicio {
  grid-area: primerServicio;
  margin: 5px;
  border-style: dashed;
  padding: 10px; }

.segundoServicio {
  grid-area: segundoServicio;
  margin: 5px;
  border-style: dashed;
  padding: 10px; }

.tercerServicio {
  grid-area: tercerServicio;
  margin: 5px;
  border-style: dashed;
  padding: 10px; }

.cuartoServicio {
  grid-area: cuartoServicio;
  margin: 5px;
  border-style: dashed;
  padding: 10px; }

/*grid en nosotros*/
.gridNosotros {
  display: grid;
  grid-template-areas: "personaUno personaDos";
  grid-template-columns: 50% 50%;
  grid-template-rows: auto; }

.personaUno {
  grid-area: personaUno;
  margin: 5px;
  padding: 10px;
  background-color: pink; }

.personaDos {
  grid-area: personaDos;
  margin: 5px;
  padding: 10px;
  background-color: pink; }

/*segundo grid en nosotros*/
.gridMisionV {
  display: grid;
  grid-template-areas: "misionYv imagenMV";
  grid-template-columns: 50% 50%;
  grid-template-rows: auto; }

.misionYv {
  grid-area: misionYv;
  margin: 99px;
  background-color: blueviolet;
  padding: 25px;
  border: 2px;
  margin: 152px; }

.imagenMV {
  grid-area: imagenMV;
  display: flex;
  justify-content: center;
  padding: 20px; }

/*contacto main grids */
.gridContacto {
  display: grid;
  grid-template-areas: "tituloContacto tituloContacto" "parrafoContactoCentro parrafoContactoCentro" "imgContactoIzq parrafoContactoIzq" "formNye formComentario";
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto auto auto; }

.tituloContacto {
  grid-area: tituloContacto; }

.parrafoContactoCentro {
  grid-area: parrafoContactoCentro; }

.imgConctactoIzq {
  grid-area: imgContactoIzq; }

.parrafoContactoIzq {
  grid-area: parrafoContactoIzq;
  padding: 15px;
  margin: 15px;
  border: 10px; }

.formNye {
  grid-area: formNye;
  margin: 20px; }

.formComentario {
  grid-area: formComentario; }

/*contacto boton formulario*/
.btn {
  border-radius: 3px;
  display: inline-block;
  padding: 20px 15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3); }

.btn-blue {
  color: white;
  background-color: #2600ff; }

.btn-blue:hover {
  background-color: #37b839; }

.btn-blue:active {
  background-color: #29962a; }

form {
  width: 300px;
  background-color: white;
  border-radius: 3px;
  margin: 0 auto;
  padding: 15px;
  color: #999;
  font-size: 12px; }

input, textarea {
  width: 280px; }

textarea {
  padding: 10px; }

label {
  color: violet;
  font-size: 15px; }

.field {
  border: solid 2px #ccc;
  padding: 10px;
  width: 280px; }

.field:focus {
  border-color: black; }

/*CARDS EN PRODUCTOS **/
.container {
  width: 100%;
  display: flex;
  max-width: 1302px; }

.cards {
  width: 100%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease; }

.cards:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%); }

.cards .contenido {
  padding: 15px;
  text-align: center; }

.cards .contenido p {
  line-height: 1.5;
  color: #6a6a6a; }

.cards .contenido h3 {
  font-weight: 400;
  margin-bottom: 15px; }

.cards .contenido a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  color: #2fb4cc;
  border: 1px solid #2fb4cc;
  border-radius: 4px;
  transition: all 400ms ease; }

.cards .contenido a:hover {
  background: #2fb4cc;
  color: white; }

/*hover*/
/*transition de logo*/
.transition {
  width: 100%;
  transition: all 300ms;
  position: relative; }

.transition:hover {
  transform: scale(1.15); }

/*transition menu header y footer*/
.transitionLista {
  width: 100%;
  transition: all 300ms;
  position: relative; }

.transitionLista:hover {
  transform: scale(1.05);
  color: blueviolet; }

/* HEADER */
header {
  background-image: linear-gradient(60deg, black, violet, blue);
  /*color fondo */
  display: flex; }

.horizontal {
  display: flex;
  flex-direction: row; }

nav ul {
  list-style: none;
  /*sacar puntitos */ }

ul li a {
  text-decoration: none;
  /* sacando subrayado*/
  font-size: 35px;
  /* tamaño letras */
  color: white;
  /*color letras*/
  font-family: fantasy;
  /*tipo de letra*/
  display: block;
  padding: 12px 26px;
  /*margen*/ }

/*FOOTER*/
/* fondo footer */
footer {
  background-image: linear-gradient(60deg, blue, violet, black); }

/*contenido footer*/
.footer-content {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center; }

/*final footer */
.footer-bottom {
  text-align: center; }

.footer-content li a {
  font-size: 17px; }

span {
  background: linear-gradient(to right, blue, #f30505, black);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; }

/*IMAGENES DE FONDO */
.fondoImageni {
  background-image: url(../assets/img/fondoindex.jpg);
  /* fondo de main index */ }

.fondoImagenn {
  background-image: url(../assets/img/fondonosotros.jpg);
  /*fondo de main nosotros */ }

.fondoImagenc {
  background-image: url(../assets/img/fondocontacto.jpg);
  /*fondo de main contacto */ }

.fondoImagenp {
  background-image: url(../assets/img/fondoproducto.jpg);
  /*fondo main producto */ }

.fondoImagens {
  background-image: url(../assets/img/fondoservicios.jpg);
  /*fondo main servicios */ }

/*centrando imagenes dentro de grid interno*/
.centerImgServicio {
  display: flex;
  justify-content: center; }

/*letra de titulos dentro de grid interno*/
h5 {
  font-size: 20px; }

/*MAIN*/
/* SIZE Y FAMILY*/
.customI {
  /*titulo vestime que me gusta index  */
  font-size: 40px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  line-height: 20px;
  text-shadow: 3px,3px,3px; }

.customP {
  /*parrafos*/
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: left; }

/*centrar img primera de index y contacto- tablas y listas  */
/*titulo pag nosotros y contacto */
.subr {
  text-decoration: underline; }

/* 10años de exp - nosotros */
blockquote {
  font-weight: bolder;
  text-decoration: underline; }

/*titulo las mejores prendas para vestir y servicios que ofrecemos  */
.sizeP {
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: underline; }

/*letra , borde , fondo tabla principal producto */
.customTabla {
  font-size: 20px;
  border: #f502f5;
  background-color: black; }

/* borde y letra items de tabla */
.customItems {
  border: blueviolet;
  background-color: black; }

.serviciosCustom {
  /* letraen lista pagina servicios */
  font-size: 30px; }

/*margenes y padding */
/*contacto*/
.imgContactoIzq {
  margin-left: 115px; }

.marginform {
  margin-left: 177px;
  margin-top: 46px;
  margin-bottom: 100px; }

.marginformC {
  margin-bottom: 20px;
  margin-left: 15px; }

.paddingC {
  padding-left: 15px; }

/*index*/
.imgIzq {
  margin-left: 117px; }

.parrafoIzq p {
  margin-left: 30px; }

.imgDer {
  margin-left: 25px;
  margin-bottom: 15px; }

.parrafoDerecha {
  padding-right: 15px; }

.segundoParrafo {
  padding-left: 15px; }

.paddingI {
  padding-left: 15px; }

/*servicios*/
.imgServiciosIz {
  margin-left: 25px;
  margin-bottom: 15px; }

.tituloOfrecemos, .parrafoServicios {
  padding-left: 15px; }

/*producto*/
.paddingP {
  padding-left: 15px;
  padding-bottom: 15px; }

/*nosotros*/
.paddingN {
  padding-left: 15px;
  padding-bottom: 10px; }

/*titulo*/
h1 {
  padding-top: 15px;
  padding-bottom: 10px; }

.tituloPrincipal {
  padding-top: 15px; }

/*subservicios en servicios */
.subservicio {
  border-style: dashed;
  padding: 10px; }

.container-fluid {
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px; }

/*vista mobile*/
@media only screen and (max-width: 768px) {
  header {
    background-image: linear-gradient(60deg, black, violet, blue);
    /*color fondo */
    display: flex;
    height: 171px; }
  /*tamaño letra menu header*/
  ul li a {
    font-size: 15px;
    padding: 5px; }
  .horizontal {
    display: flex;
    flex-direction: column; }
  h1 {
    font-size: 10px; }
  /*grid index*/
  .gridIndex {
    display: grid;
    grid-template-areas: "tituloPrincipal" "primerParrafo" "imgIzq" "parrafoDerecha" "segundoParrafo" "imgDer" "parrafoIzq";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto auto; }
  .tituloPrincipal {
    grid-area: tituloPrincipal; }
  .primerParrafo {
    grid-area: primerParrafo; }
  .imgIzq {
    grid-area: imgIzq;
    margin-left: 15px; }
  .parrafoDerecha {
    grid-area: parrafoDerecha; }
  .segundoParrafo {
    grid-area: segundoParrafo; }
  .parrafoIzq {
    grid-area: parrafoIzq; }
  .imgDer {
    display: none; }
  /*grid servicios*/
  .gridServicios {
    display: grid;
    grid-template-areas: "tituloOfrecemos tituloOfrecemos" "parrafoServicios parrafoServicios" "imgServiciosIz imgServiciosIzq" "listaServiciosDer listaServiciosDer";
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto auto; }
  .tituloOfrecemos {
    grid-area: tituloOfrecemos; }
  .parrafoServicios {
    grid-area: parrafoServicios; }
  .imgServiciosIz {
    grid-area: imgServiciosIz; }
  .listaServiciosDer {
    grid-area: listaServiciosDer; }
  /*servicios */
  .centerImgServicio {
    display: none; }
  /*grid contacto*/
  .gridContacto {
    display: grid;
    grid-template-areas: "tituloContacto" "parrafoContactoCentro"  "imgContactoIzq" "parrafoContactoIzq" "formNye" "formComentario";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto auto; }
  .tituloContacto {
    grid-area: tituloContacto; }
  .parrafoContactoCentro {
    grid-area: parrafoContactoCentro; }
  .imgConctactoIzq {
    grid-area: imgContactoIzq; }
  .parrafoContactoIzq {
    grid-area: parrafoContactoIzq; }
  .formNye {
    grid-area: formNye; }
  .formComentario {
    grid-area: formComentario; }
  .marginform {
    margin-left: 14px;
    margin-bottom: 25px; }
  /*nosotros*/
  .gridMisionV {
    display: grid;
    grid-template-areas: "misionYv" "imagenMV";
    grid-template-columns: 100%;
    grid-template-rows: auto auto; }
  /*productos*/
  .container {
    flex-wrap: wrap; } }

.margen-1 {
  margin: 5px; }

.margen-2 {
  margin: 10px; }

.margen-3 {
  margin: 15px; }

.margen-4 {
  margin: 20px; }

.margen-5 {
  margin: 25px; }

.margen-6 {
  margin: 30px; }

.margen-7 {
  margin: 35px; }

.margen-8 {
  margin: 40px; }

.margen-9 {
  margin: 45px; }

.margen-10 {
  margin: 50px; }

.letra-Arial {
  font-family: Arial; }

.letra-Tahoma {
  font-family: Tahoma; }
