@charset "UTF-8";
header {
  background-color: aqua; }
  header div {
    padding: 10px; }
    header div a {
      width: 100px;
      height: 100px; }

nav {
  background-color: violet; }
  nav ul {
    list-style: none; }
    nav ul li {
      text-decoration: none;
      /* sacando subrayado*/
      font-size: 35px;
      /* tamaño letras */
      color: white;
      /*color letras*/
      font-family: fantasy;
      /*tipo de letra*/
      display: block;
      padding: 12px 26px;
      /*margen*/ }

.horizontal {
  display: flex;
  flex-direction: row; }

div {
  padding: 10px; }
  div ul {
    list-style: none; }
    div ul li {
      text-decoration: none;
      /* sacando subrayado*/
      font-size: 35px;
      /* tamaño letras */
      color: white;
      /*color letras*/
      font-family: fantasy;
      /*tipo de letra*/
      display: block;
      padding: 12px 26px;
      /*margen*/ }

footer {
  background-color: chocolate; }

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }

.footer-bottom {
  text-align: center; }

main div h1 {
  font-size: 40px; }

main {
  background-color: deeppink; }
  main div {
    padding: 20px; }
    main div h1 {
      text-decoration: underline;
      font-size: 40px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }

h1, p {
  color: white; }

img {
  width: 50px, 40 px; }

.imgDer {
  display: flex;
  justify-content: center; }
