/*FOOTER*/
                            /* fondo footer */

                            footer {
                                background-image: linear-gradient(60deg,blue,violet,black);
                                
                            }
                            
                                
                            /*contenido footer*/
                            .footer-content{
                                list-style: none;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                            }
                              /*final footer */
                            .footer-bottom{   
                                text-align: center;
                            }
                            .footer-content li a{
                                font-size: 17px;
                            }
                            
                            span{
                                background: linear-gradient(to right, blue,rgb(243, 5, 5),black);
                                -webkit-background-clip: text;
                                background-clip: text;
                                -webkit-text-fill-color: transparent;
                            }
                            
                            
                            