main{
    background-color: deeppink;
    div{
        padding: 20px;
        h1{
            text-decoration: underline;
            font-size: 40px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
    }
}